# Colton Project Requirements
beautifulsoup4
brotli
cairosvg
gdown
openai==0.28.1
Pillow
pillow-avif-plugin
pandas
requests
urllib3
selenium
webdriver-manager
python-dotenv
lxml
undetected-chromedriver
pytest           # (optional, but highly recommended for testing)
